Source: libmpsse
Priority: optional
Maintainer: Axel Beckert <abe@debian.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.0.0
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/libmpsse.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libmpsse.git

Package: libmpsse-dev
Section: libdevel
Architecture: any
Depends: libmpsse1 (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libmpsse1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
