Source: libmpsse
Priority: optional
Maintainer: Axel Beckert <abe@debian.org>
Build-Depends: debhelper (>= 10),
               libftdi-dev,
               python-dev,
               swig
Standards-Version: 4.0.0
Section: libs
Homepage: https://github.com/devttys0/libmpsse
#Vcs-Git: https://anonscm.debian.org/collab-maint/libmpsse.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libmpsse.git
Vcs-Git: https://github.com/xtaran/libmpsse-debian-packaging.git
Vcs-Browser: https://github.com/xtaran/libmpsse-debian-packaging
X-Python-Version: >= 2.6

Package: libmpsse-dev
Section: libdevel
Architecture: any
Depends: libmpsse1 (= ${binary:Version}),
         ${misc:Depends}
Description: SPI/I2C control via FTDI chips (development headers)
 Libmpsse is a library for interfacing with SPI/I2C devices via FTDI's
 FT-2232 family of USB to serial chips. Additionally, it provides
 control over the GPIO pins on the FTDI chips and supports a raw
 bitbang mode as well.
 .
 This package contains the development header files.

Package: libmpsse1
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: SPI/I2C control via FTDI chips
 Libmpsse is a library for interfacing with SPI/I2C devices via FTDI's
 FT-2232 family of USB to serial chips. Additionally, it provides
 control over the GPIO pins on the FTDI chips and supports a raw
 bitbang mode as well.
 .
 Based around the libftdi library, it is written in C. The packages
 python-mpsse and python3-mpsse contain the Python wrapper

Package: python-mpsse
Section: python
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         python
Description: SPI/I2C control via FTDI chips - Python 2 bindings
 Libmpsse is a library for interfacing with SPI/I2C devices via FTDI's
 FT-2232 family of USB to serial chips. Additionally, it provides
 control over the GPIO pins on the FTDI chips and supports a raw
 bitbang mode as well.
 .
 This package contains the swig-generated Python 2 bindings.
